﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="MySql.aspx.cs" Inherits="WebApplication1.MySql" %>
<asp:Content ID="Content1" ContentPlaceHolderID="first" runat="server">
     <h1 class="head1"> IMPORTANT LINKS</h1>
    <nav id="list1">
    <ul id="links">
<li><a href="www.google.com">GOOGLE</a></li>
<li><a href="www.w3schools.com">W3SCHOOLS</a></li>
            <li><a href="www.planetmysql.com">TEAM TREEHOUSE</a></li>
            <li><a href="mysqltutorial.com">DREAM ACADEMY</a></li>

        </ul>
   </nav>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="second" runat="server">
     <h2 class="head2">INTRODUCTION.</h2>
    <p class="para2">
        SQL means a Structured Query Language SQL is a standard language for storing, manipulating and retrieving data in 
        databases.Datatypes and ranges 
    for Microsoft Access,MYSQL and SQL servers.
        </p>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="third" runat="server">
    <h3 class="head3">CODE</h3>
    <p class="para3">
        select * from customers;
        select column1,column2...
        from tablename;
    </p>
</asp:Content>

<asp:Content ID="Content4" ContentPlaceHolderID="fourth" runat="server">
    <div id="myclass">
    <h4 class="head4">LEARNING OUTCOME</h4>
    <p class="para4">
        SQL can retrieve,update and insert data in the database. It helps to create new database.
    </p></div>
</asp:Content>
