﻿body {
   
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: lightblue;
    font-family: 'Times New Roman', serif;

}
.para1
{
    color: #000000;
    text-align:center;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    font-family:"Times New Roman" , serif;
}
.head1{
    color: blue;
    font-size:20px;
    font-weight: bold;
    border-style:dotted;
    padding-left:15px;
}

#links a:hover{
    text-decoration:none;
    color:#bd5656;
    font-size:large;

}
.head2{
    border-style:groove;
    border-color:#bd5656;
}
.para2{
    font-family:Arial, Helvetica, sans-serif;
    font-size:x-large;
    color:#544a93;
}
.head3{
    font-family:'Bookman Old Style';
    font-weight:500;
}
.myclass{
    border-style:dashed;
    font-family:'Times New Roman', Times, serif;
    font-size:xx-large;
}
.head4{
    border-style:dashed;
    font-family:'Times New Roman', Times, serif;
    font-size:xx-large;
    padding-left:20px;
}
.para4{
    font-family:'Monotype Corsiva';
    font-weight:800;
    font-style:italic;
    font-size:25px;
    color:#4fa766;
}